networks:
  ros2-net:

services:
  #ROS2
  realsense:
    build:
      context: .
      dockerfile: Dockerfile
      target: realsense
    privileged: true
    container_name: realsense
    networks:
      - ros2-net
    volumes:
      - ../ros2_ws/src:/ros2_ws/src
    command: [ "ros2", "launch", "sensor_tools", "rs_launch.py" ]

  #ROS2
  xsens:
    build:
      context: .
      dockerfile: Dockerfile
      target: xsens
    container_name: xsens
    privileged: true
    group_add:
      - keep-groups
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    networks:
      - ros2-net
    volumes:
      - ../ros2_ws/src:/ros2_ws/src

  ouster:
    build:
      context: .
      dockerfile: Dockerfile
      target: ouster
    privileged: true
    container_name: ouster
    # env:
    #   - OUSTER_HOSTNAME="169.254.49.182"
    ports:
      - "7502:7502/udp"
      - "7503:7503/udp"
    networks:
      - ros2-net
    volumes:
      - ../ros2_ws/src:/ros2_ws/src
      - ../ros2_ws/shared:/ros2_ws/shared
    # command: [ "ros2", "launch", "ouster_ros", "sensor.launch.xml", "udp_profile_lidar:=RNG19_RFL8_SIG16_NIR16", "sensor_hostname:=169.254.49.182", "viz:=false", "lidar_port:=7502", "imu_port:=7503" ]
    command: [ "ros2", "launch", "ouster_ros", "driver.launch.py", "viz:=false", "params_file:=/ros2_ws/shared/ouster_config.yaml" ]

  emlid:
    build:
      context: .
      dockerfile: Dockerfile
      target: emlid
    privileged: true
    container_name: emlid
    volumes:
      - ../ros2_ws/src:/ros2_ws/src
    group_add:
      - keep-groups
    devices:
      - "/dev/ttyACM1:/dev/ttyACM1"
    networks:
      - ros2-net
    command: [ "ros2", "run", "nmea_navsat_driver", "nmea_serial_driver", "--ros-args", "-p", "port:=/dev/ttyACM1", "-p", "baud:=9600" ]
    #ros2 run package_name executable_name --ros-args -p param_name:=param_value

  #Foxglove Bridge to vizualize topics from ROS2
  foxglove-bridge:
    image: mjpc13/foxglove-bridge
    container_name: foxglove-bridge
    networks:
      - ros2-net
    ports:
      - "9092:8765"
  
  #Vizualization Container
#  viz:
#    image: ghcr.io/foxglove/studio:latest
#    container_name: foxglove-server
#    network_mode: "host"

recording:
    build:
      context: .
      dockerfile: Dockerfile
      target: recording
    privileged: true
    container_name: recording
    volumes:
      - ../ros2_ws/src:/ros2_ws/src
      - ../rosbags:/rosbags
    group_add:
      - keep-groups
    networks:
      - ros2-net
    command: [ "/bin/bash" ]