networks:
  ros2-net:

services:
  #ROS2
  realsense:
    build:
      context: .
      dockerfile: Dockerfile
      target: realsense
    privileged: true
    container_name: realsense
    networks:
      - ros2-net
    volumes:
      - ../ros2_ws/:/ros2_ws
    command: [ "ros2", "launch", "sensor_tools", "rs_launch.py" ]


  #ROS2
  xsens:
    build:
      context: .
      dockerfile: Dockerfile
      target: xsens
    container_name: xsens
    privileged: true
    group_add:
      - keep-groups
    networks:
      - ros2-net
    volumes:
      - ../ros2_ws/:/ros2_ws

  ouster:
    build:
      context: .
      dockerfile: Dockerfile
      target: ouster
    privileged: true
    container_name: ouster
    env:
      - OUSTER_HOSTNAME="169.254.49.182"
    ports:
      - "7502:7502/udp"
      - "7503:7503/udp"
    networks:
      - ros2-net
    volumes:
      - ../ros2_ws/:/ros2_ws
    command: [ "ros2", "launch", "ouster_ros", "sensor.launch.xml", "udp_profile_lidar:=RNG19_RFL8_SIG16_NIR16", "sensor_hostname:=169.254.49.182", "viz:=false", "lidar_port:=7502", "imu_port:=7503" ]

  emlid:
    build:
      context: .
      dockerfile: Dockerfile
      target: emlid
    privileged: true
    container_name: emlid
    volumes:
      - ../ros2_ws/:/ros2_ws
    group_add:
      - keep-groups
    devices:
      - "/dev/ttyACM0:/dev/ttyACM0"
    networks:
      - ros2-net

  #Foxglove Bridge to vizualize topics from ROS2
  foxglove-bridge:
    image: mjpc13/foxglove-bridge
    container_name: foxglove-bridge
    networks:
      - ros2-net
    ports:
      - "9092:8765"
  
  #Vizualization Container
#  viz:
#    image: ghcr.io/foxglove/studio:latest
#    container_name: foxglove-server
#    network_mode: "host"
